.input-comp {
  margin-bottom: 20px;
  text-align: center;
  .MuiOutlinedInput-input {
    padding: 10px;
  }
  .MuiOutlinedInput-root {
    height: 48px;
  }
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    margin-top: -2px;
  }
}
.header-main {
  box-shadow: 5px 3px #f4f4f4;
  background: #242424;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  .header-left-section {
    .smarkets-icon {
      width: 120px;
    }
  }
  .header-right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    .setting-icon,
    .help-icon {
      color: #ffffff;
      padding: 15px;
      cursor: pointer;
      font-size: 28px;
    }
    .setting-icon:hover,
    .help-icon:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
    .log-btn {
      cursor: pointer;
      padding: 15px;
      font-weight: 600;
      color: #ffffff;
      font-size: 14px;
    }
    .log-btn:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
    .create-btn {
      background-color: #00b073;
      border-radius: 2px;
      color: #fff;
      height: auto;
      font-size: 12px;
      font-weight: 700;
      padding: 5px 12px;
      border: 1px solid #00b073;
      cursor: pointer;
    }
    .create-btn:hover {
      background-color: rgba(0, 176, 115, 0.8);
    }
  }
}

.footer-main {
  color: #888;
  font-size: 12px;
  background: #242424;
  border: 1px solid #242424;
  padding: 10px 20px;
  box-shadow: 5px 3px #f4f4f4;
  text-align: center;
  .footer-link {
    color: #00b073;
  }
}

.card-main {
  background: #cccccc;
  padding: 20px;
  width: 250px;
  height: 200px;
  text-align: center;
  .card-header {
    font-size: 18px;
    color: #646464;
    font-weight: bold;
    padding-top: 15px;
  }
}
